<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>todoリストの作成</title>
</head>
<body>
	
<h2>ToDoリスト</h2>
<table border="1">
	<thead>
		<tr>
			<th>ID</th>
			<th>タイトル</th>
			<th>優先度</th>
			<th>ステータス</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="todo : ${todos}">
			<td th:text="${todo.getTodoId()}"></td>
			<td th:text="${todo.getTodoTitle()}"></td>
			<td th:text="${todo.getTodoPriority()}"></td>
			<td th:text="${todo.getTodoStatus()}"></td>
		</tr>
	</tbody>
</table>

</body>
</html>